In [8]:
import pandas as pd
import os
nahom = pd.read_csv('Sales_April_2019.csv')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [18]:
nahom = pd.read_csv('Sales_April_2019.csv')

files = [file for file in os .listdir('./Sales_Data')]
all_months_data = pd.DataFrame()

for file in files:
    nahom = pd.read_csv('./Sales_Data/' + file)
    all_months_data = pd.concat([all_months_data , nahom])

all_months_data.to_csv("all_data.csv" , index = False)

In [19]:
print(nahom)

      Order ID                 Product Quantity Ordered Price Each  \
0       248151   AA Batteries (4-pack)                4       3.84
1       248152    USB-C Charging Cable                2      11.95
2       248153    USB-C Charging Cable                1      11.95
3       248154        27in FHD Monitor                1     149.99
4       248155    USB-C Charging Cable                1      11.95
...        ...                     ...              ...        ...
11681   259353  AAA Batteries (4-pack)                3       2.99
11682   259354                  iPhone                1        700
11683   259355                  iPhone                1        700
11684   259356  34in Ultrawide Monitor                1     379.99
11685   259357    USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      09/17/19 14:44      380 North St, Los Angeles, CA 90001
1      09/29/19 10:19             511 8th St, Austin, TX 73301
2      09/16/19 17:48    151 Johnson St, Los Angeles, CA 90001
3      09/27/19 07:52        355 Hickory St, Seattle, WA 98101
4      09/01/19 19:03            125 5th St, Atlanta, GA 30301
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[11686 rows x 6 columns]

In [20]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Task 2 adding months column

In [22]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04

In [23]:
all_data.head(50)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",04
7,176563,Bose SoundSport Headphones,1,99.99,04/02/19 07:46,"668 Center St, Seattle, WA 98101",04
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",04
9,176565,Macbook Pro Laptop,1,1700,04/24/19 10:38,"915 Willow St, San Francisco, CA 94016",04
10,176566,Wired Headphones,1,11.99,04/08/19 14:05,"83 7th St, Boston, MA 02215",04
11,176567,Google Phone,1,600,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001",04
12,176568,Lightning Charging Cable,1,14.95,04/15/19 12:18,"438 Elm St, Seattle, WA 98101",04
13,176569,27in 4K Gaming Monitor,1,389.99,04/16/19 19:23,"657 Hill St, Dallas, TX 75001",04
14,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001",04
15,176571,Lightning Charging Cable,1,14.95,04/19/19 14:29,"253 Johnson St, Atlanta, GA 30301",04
16,176572,Apple Airpods Headphones,1,150,04/04/19 20:30,"149 Dogwood St, New York City, NY 10001",04
17,176573,USB-C Charging Cable,1,11.95,04/27/19 18:41,"214 Chestnut St, San Francisco, CA 94016",04
18,176574,Google Phone,1,600,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",04
19,176574,USB-C Charging Cable,1,11.95,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001",04
20,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001",04
21,176576,Apple Airpods Headphones,1,150,04/28/19 11:42,"771 Ridge St, Los Angeles, CA 90001",04
22,176577,Apple Airpods Headphones,1,150,04/04/19 19:25,"260 Spruce St, Dallas, TX 75001",04
23,176578,Apple Airpods Headphones,1,150,04/09/19 23:35,"513 Church St, Boston, MA 02215",04
24,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001",04
25,176580,USB-C Charging Cable,1,11.95,04/05/19 00:35,"886 Willow St, Los Angeles, CA 90001",04
26,176581,iPhone,1,700,04/09/19 21:38,"84 Jackson St, Boston, MA 02215",04
27,176582,Bose SoundSport Headphones,1,99.99,04/27/19 12:20,"178 Lincoln St, Atlanta, GA 30301",04
28,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035",04
29,176584,Flatscreen TV,1,300,04/24/19 20:39,"936 Church St, San Francisco, CA 94016",04
30,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",04
31,176585,Bose SoundSport Headphones,1,99.99,04/07/19 11:31,"823 Highland St, Boston, MA 02215",04
32,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016",04
33,176586,Google Phone,1,600,04/10/19 17:00,"365 Center St, San Francisco, CA 94016",04
34,176587,27in FHD Monitor,1,149.99,04/29/19 19:38,"557 5th St, Los Angeles, CA 90001",04
35,176588,20in Monitor,1,109.99,04/02/19 04:00,"765 Cherry St, Seattle, WA 98101",04
36,176589,Lightning Charging Cable,1,14.95,04/04/19 12:23,"846 Highland St, Atlanta, GA 30301",04
37,176590,Google Phone,1,600,04/11/19 11:46,"873 6th St, New York City, NY 10001",04
38,176591,Apple Airpods Headphones,1,150,04/21/19 07:21,"600 Maple St, Austin, TX 73301",04
39,176592,USB-C Charging Cable,1,11.95,04/27/19 13:04,"352 4th St, Los Angeles, CA 90001",04
40,176593,Lightning Charging Cable,2,14.95,04/15/19 13:45,"906 7th St, Portland, OR 97035",04
41,176594,Wired Headphones,1,11.99,04/17/19 23:04,"63 Maple St, San Francisco, CA 94016",04
42,176595,Wired Headphones,3,11.99,04/02/19 09:11,"383 6th St, Los Angeles, CA 90001",04
43,176596,Apple Airpods Headphones,1,150,04/27/19 20:11,"572 Meadow St, Dallas, TX 75001",04
44,176597,USB-C Charging Cable,1,11.95,04/19/19 13:39,"681 11th St, San Francisco, CA 94016",04
45,176598,AAA Batteries (4-pack),2,2.99,04/21/19 20:33,"294 Park St, San Francisco, CA 94016",04
46,176599,Lightning Charging Cable,1,14.95,04/11/19 15:25,"279 Maple St, New York City, NY 10001",04
47,176600,27in 4K Gaming Monitor,1,389.99,04/30/19 15:54,"87 West St, Boston, MA 02215",04
48,176601,USB-C Charging Cable,1,11.95,04/02/19 22:32,"754 10th St, Los Angeles, CA 90001",04
49,176602,Lightning Charging Cable,1,14.95,04/30/19 09:39,"9 Jefferson St, Dallas, TX 75001",04

### Cleaning up data

In [29]:
# Find NAN
nan_df = all_data[all_data.isna().any(axis=1)]
display(nan_df.head())

all_data = all_data.dropna(how='all')
all_data.head()

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04